
.chat{
	width: 100%;
	height: 100%;
}

#chat { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	height: 80%;
	overflow-y: scroll;
}

#chat li { 

	padding: 10px;
	display: block;
	
	width: 90%;
	
	margin: auto;
	
	margin-top: 4px;
	margin-bottom: 4px;
	
	background: #efefff; 
	border-radius: 8px;
	
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
	
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	 -o-animation: fadein 2s; /* Opera < 12.1 */
		animation: fadein 2s;

}

#chat li:nth-child(odd) { 
	background: #dfdfff; 
}

#chat-button, input { 
	width: 90%;  
	height: 8%;
	
	margin: auto;
	padding: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	
	display: block;
	
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

#chat-button{
	background: #ccf;
}